h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 42px;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 40px;
    margin-top: 12px;
}

@media screen and (min-width: 980px) {
	.jumbotron h1, .jumbotron .h1 {
	}
}

@media screen and (max-width: 640px) {
	.jumbotron h1, .jumbotron .h1 {
	}   
}

.repos {
	font: 110px Helvetica, Sans-Serif;
	color: rgba(255,0,0,0.5);
}

h3 {
	word-wrap: break-word;
}

.descrizione {
    margin-top: -40px;
    margin-bottom: 50px;
    font-style: italic;
    opacity: 0.6;
}

.img-circle {
	border-radius: 50%;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	text-transform: uppercase;
}

.chiudi {
    float: right;
    margin-top: -20px;
}

.btn-default:hover {
    color: #555555;
}

.btn-default:hover {
    color: #555555;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
        border-bottom-color: rgb(230, 230, 230);
}

.btn-default {
    color: #555555;
    background-color: #a7ffbc;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
        border-bottom-color: rgb(230, 230, 230);
}

.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

.blocco-bottoni {
  margin-bottom: 30px;
}

.informazioni-bottom {
  bottom: -40px;
  margin-top: -30px;
}

.btn-default {
    background-color: #e6e6e6;
}

