<!-- __author__ = 'Riccardo Di Curti' -->

{% extends "base.html" %}

{% block title %}403{% endblock %}

{% block content_title %}403{% endblock %}

{% block content %}
<p>If you have some kind of access control on your website, you will have to send a 403 code for disallowed resources. So make sure the user is not lost when they try to access a forbidden resource.</p>
{% endblock %}

{% block sidebar %}
<ul class="well nav nav-stacked">
	<li><a href="#">HomePage</a></li>
	<li><a href="#">Projects</a></li>
</ul>
{% endblock %}