<!-- __author__ = 'Riccardo Di Curti' -->

{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block content_title %}500{% endblock %}

{% block content %}
<p>Usually happens on programming errors or if the server is overloaded. A terribly good idea is to have a nice page there, because your application will fail sooner or later (see also: Application Errors).</p>
{% endblock %}

{% block sidebar %}
<ul class="well nav nav-stacked">
	<li><a href="#">HomePage</a></li>
	<li><a href="#">Projects</a></li>
</ul>
{% endblock %}