{% extends "base.html" %}

{% block title %} My Profile {% endblock %}

{% block content_title %} {% endblock %}

{% block content %}

	<div class="error">
        <div class="error-code m-b-10 m-t-20"> 
        	404 <i class="fa fa-warning"></i>
        </div>
        <h3 class="font-bold"> We couldn't find the page.. </h3>

        <div class="error-desc">
            Sorry, but the page you are looking for was either not found or does not exist. <br/>
            Try refreshing the page or click the button below to go back to the Homepage.
        	<div> 

        	    <a class=" login-detail-panel-button btn" href="https://github.com/settings/profile/">
            		<i class="fa fa-arrow-left"></i> Go to github                       
        		</a>
        		<a class=" login-detail-panel-button btn" href="{{ url_for('user') }}">
            		<i class="fa fa-arrow-left"></i> Reload tracktask homepage                         
        		</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
<ul class="well nav nav-stacked">
	<div class="row">
		<center>
	    	<h4>DATA</h4>
			<table class="table table-hover">
				<tr>
					<td>name: </td>
		  			<td>{{user["name"]}}</td>
				</tr>
				<tr>
					<td>email: </td>
					<td>{{user["email"]}}</td>
				</tr>	
			</table>
	    </center>
	</div>
</ul>
{% endblock %}


https://github.com/settings/profile