<!-- __author__ = 'Riccardo Di Curti' -->

{% extends "base.html" %}

{% block title %}ZEN{% endblock %}

{% block content_title %}ZEN{% endblock %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-body bg-warning">
		<center>
			<b>
				{{ zen.text }}
			</b>
		</center>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<ul class="well nav nav-stacked">
	<center>
    	<a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/zen" role="button"><span class="glyphicon glyphicon-refresh"></span> ZEN </a>		
	</center>
</ul>
{% endblock %}